.menu-screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;

}

.menu-items-container {
  background-color: #141310;
  border-radius: 15px;
  border: 5px solid #141310;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  box-sizing: border-box;

  overflow-y: auto;

}

.menu-item-type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;

}

.type-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.menu-type-button {
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  overflow: hidden;
  font-size: 12px;

  cursor: pointer;

  transition: ease-in-out .2s;


  &:hover {
    background-color: lightblue;
  }
}


.menu-type-icon {

  width: 100%;
  height: 100%;
}

@media(max-width: 1400px) {
  .menu-screen-container {flex-direction: column;}
  .menu-item-type-container {width: 100%; height: 150px;}
  .type-buttons-container {flex-direction: row;}
  .menu-type-button {width: 70px; height: 70px;}

}

@media(max-width: 900px) {
  .menu-items-container {
    display: flex;
    flex-direction: column;

  }

}
