:host {
  display: flex;
  justify-content: center;
}
.cat-panel-container {
  margin: 10px;
  height: 150px;
  padding: 20px;

  max-width: 500px;
  width: calc(100% - 60px);

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  align-items: center;

  background-color: #153545;
  border-radius: 10px;
  user-select: none;
  overflow: hidden;


  &:hover {
    background-color: #214c61;
    transition: ease-out 0.2s;
    cursor: pointer;
  }
}

.cat-panel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 130px;
  max-width: 130px;
  max-height: 130px;
  background-color: teal;
}

.cat-panel-image {
  padding: 5px;
}

.cat-panel-text-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

}

.cat-name {
  font-size: 40px;

}

.cat-desc {
  font-size: 20px;
}

