.panel {
  user-select: none;
  -webkit-user-select: none;

  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: start;
  background-color: darkslategray;

  padding: 20px;
  box-sizing: border-box;


  // Shared transition for all properties
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.6s ease,
              visibility 0.6s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5); // Default "hidden" state
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.middle {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
  }

  &.left {
    opacity: 0.5;
    visibility: visible;
    transform: translate(-120%, -50%) scale(0.8);
    z-index: 5;
    pointer-events: auto;
    cursor: pointer;
  }

  &.right {
    opacity: 0.5;
    visibility: visible;
    transform: translate(20%, -50%) scale(0.8);
    z-index: 5;
    pointer-events: auto;
    cursor: pointer;
  }
}

.cat-image {
  width: 360px;
  height: 360px;
  background-color: black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}



@media(max-width: 1400px) {
  .panel {width: 360px; height: 400px;
    &.right {
      transform: translate(-10%, -50%) scale(0.8);
    }
    &.left {
      transform: translate(-90%, -50%) scale(0.8);

    }


  }
  .cat-image {width: 340px; height: 340px;}

}

@media(max-width: 940px) {
  .panel {width: 300px; height: 350px;
    &.right {
      transform: translate(-10%, -50%) scale(0.8);
    }
    &.left {
      transform: translate(-90%, -50%) scale(0.8);

    }

  }
  .cat-image {width: 280px; height: 280px;}

}

@media(max-width: 600px) {
  .panel {width: 300px; height: 350px;
    &.right {
      transform: translate(-50%, -20%) scale(0.8);
    }
    &.left {
      transform: translate(-50%, -80%) scale(0.8);

    }


  }
  .cat-image {width: 280px; height: 280px;}

}
