.panel {
  user-select: none;
  -webkit-user-select: none;

  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: start;
  background-color: darkslategray;

  padding: 20px;
  box-sizing: border-box;


  // Shared transition for all properties
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.6s ease,
              visibility 0.6s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5); // Default "hidden" state
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.middle {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
  }

  &.left {
    opacity: 0.5;
    visibility: visible;
    transform: translate(-150%, -50%) scale(0.8);
    z-index: 5;
    pointer-events: auto;
    cursor: pointer;
  }

  &.right {
    opacity: 0.5;
    visibility: visible;
    transform: translate(50%, -50%) scale(0.8);
    z-index: 5;
    pointer-events: auto;
    cursor: pointer;
  }
}

.cat-image {
  width: 360px;
  height: 360px;
  background-color: black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
