.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}

.displayed-content-container {
  height: 100%;
  width: calc(100vw - 20px);
  padding: 10px;
}


app-header {
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 10;
}

.app-background {
  width: 2000px;
  position: absolute;
  z-index: -1000;

}
