.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;

  background-image: url('/assets/coffee.jpg');
  background-size: 1000px;
}

.displayed-content-container {
  height: calc(100% - 20px - 50px);
  width: calc(100vw - 20px);
  padding: 10px;
}


app-header {
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 10;
}

