.page-container {
  height: 100%;
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.displayed-content-container {
  height: 100%;
  width: calc(100vw - 20px);
  padding: 10px;
}


app-header {
  height: 50px;
  width: 100%;
  display: flex;
}
