.home-screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // background-color: teal;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-icon-text {
  color: grey;
  user-select: none;
}

.not-found-icon {
  z-index: 9;
  width: 100px;
  color: darkslategrey;
}

.not-found-icon-shadow {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 2;

  width: 100px;
  color: black;

  filter: blur(5px);

}
