.header-container {
  height: 50px;
  width: 100%;

  display: flex;
  font-size: 15px;

}


.header-split {
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.left-part {
  justify-content: start;
  width: 400px;
}

.right-part {
  justify-content: end;
  width: 100%;
}

.coffee-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  height: 25px;
  fill: transparent;
}

.home-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15px;
  fill: white;
  margin-bottom: 5px;

}


.paw-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  fill: transparent;

  height: 25px;
}




@media (max-width: 600px) {
  .header-container { font-size: 12px; background-color: black;}
  .right-part {padding-right: 10px;}
  .left-part {padding-left: 10px; width: 250px;}



}
