.header-button {
  margin: 0px 10px 0px 10px;
  height: 30px;
  padding: 0px 10px 0px 10px;

  display: flex;

  justify-content: center;
  align-items: end;

  user-select: none;
  cursor: pointer;

}


.icon-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.header-icon {
  color: white;
}
