@font-face {
  font-family: 'JetBrainsFont';
  src: url('/assets/fonts/JetBrainsMonoNerdFont-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: white;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: JetBrainsFont;
}

app-root {
  width: 100%;
  height: 100vh;

  display: flex;

  overflow: hidden;

  padding: 0;
  margin: 0;

}

